* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color-padrao: #fff;
  --text-color-porple: #aa22a3;
  --borde-footer: 2px solid #75237e62;
  --box-shadow-button: 6px 5px 19px #aa22a3;
  --bg-button: #aa22a3;
}

body {
  height: 100vh;
  background: url(../img/background-purple.jpg);
  background-position: 80%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.color-purple {
  color: var(--text-color-porple);
}

.logo {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.logo-img {
  height: 2.8rem;
}

.text {
  color: var(--text-color-padrao);
  font-size: 1.5rem;
  text-align: center;
  width: 85%;
}

.roleta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  & p {
    color: var(--text-color-padrao);
    font-size: 1.2rem;
  }
}

.roleta .roleta-img {
  position: relative;
}
.roleta .roleta-image {
  display: block;
  max-height: 20rem;
  animation: animeite 0.5s alternate infinite;
}

@keyframes animeite {
  to {
    transform: rotate(5deg);
  }
  from {
    transform: rotate(-5deg);
  }
}

.roleta-img-button {
  height: 4rem;
  z-index: 20;

  position: absolute;
  bottom: 40%;
  left: 40%;
}

.roleta-button button {
  background: var(--bg-button);
  box-shadow: var(--box-shadow-button);
  color: var(--text-color-padrao);
  padding: 0.8rem 1.2rem;
  border-radius: 2rem;
  text-decoration: none;
  outline: none;
  border: none;
}
/*   */
.footer .people {
  max-height: 5rem;
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: var(--borde-footer);
  padding: 10px 0 10px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer .people.disabled {
  display: none;
}

.footer .people #people-img {
  height: 3rem;
  border-radius: 500px;
}

.footer .people #people-p {
  color: var(--text-color-padrao);
}

@media (max-width: 900px) {
  .roleta .roleta-image {
    display: block;
    max-height: 17rem;
  }
  .roleta-img-button {
    height: 3.5rem;
  }
}
@media (max-height: 760px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .logo-img {
    height: 2rem;
  }
  .text {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

@media (max-width: 450px) {
  .logo {
    margin-top: 1.5rem;
  }

  .text {
    font-size: 1.3rem;
  }

  .logo-img {
    height: 2.5rem;
  }

  .roleta .roleta-image {
    display: block;
    max-height: 17rem;
  }
  .roleta-img-button {
    height: 3.5rem;
  }
}
