* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

:root {
  --text-color-padrao: #fff;
  --text-color-porple: #aa22a3;
  --text-color-green: rgb(42, 255, 42);
  --borde-footer: 2px solid #75237e62;
  --box-shadow-button: 6px 5px 19px #aa22a3;
  --bg-button: #aa22a3;
}

body {
  height: 100vh;
  background: url(../img/background-purple-01.jpg);
  background-position: 80%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.color-purple {
  color: var(--text-color-porple);
}
.color-green {
  color: var(--text-color-green);
}

.logo {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.logo-img {
  height: 2.8rem;
}

.text {
  color: var(--text-color-padrao);
  font-size: 1.5rem;
  text-align: center;
  width: 85%;
}

.roleta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  & p {
    color: var(--text-color-padrao);
    font-size: 1.2rem;
  }
}

.roleta .roleta-img {
  position: relative;
}
.roleta .roleta-image {
  display: block;
  max-height: 20rem;
  animation: animeite 0.5s alternate infinite linear;
}
.roleta .roleta-image.spin {
  animation: spin 1s infinite linear;
}

.roleta .roleta-image.spin.ganhador {
  animation: spinGanhador 4s linear;
  transform: rotate(135deg);
}

@keyframes spinGanhador {
  to {
    transform: rotate(475deg);
  }
  from {
    transform: rotate(645deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(445deg);
  }
}

@keyframes animeite {
  to {
    transform: rotate(5deg);
  }
  from {
    transform: rotate(-5deg);
  }
}

.roleta-img-button {
  height: 4rem;
  z-index: 20;

  position: absolute;
  bottom: 40%;
  left: 40%;
}

.roleta-button button {
  background: var(--bg-button);
  box-shadow: var(--box-shadow-button);
  color: var(--text-color-padrao);
  padding: 0.8rem 1.2rem;
  border-radius: 2rem;
  text-decoration: none;
  outline: none;
  border: none;
}
/*   */
.footer .people {
  max-height: 5rem;
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: var(--borde-footer);
  padding: 10px 0 10px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer .people.disabled {
  display: none;
}

.footer .people #people-img {
  height: 3rem;
  border-radius: 500px;
}

.footer .people #people-p {
  color: var(--text-color-padrao);
}

.pop-up {
  position: absolute;
  z-index: 100;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  height: 100vh;
  width: 100vw;
  display: none;
  place-items: center;
  padding: 1rem;
}
.pop-up.pop-up-active {
  display: grid;
}

.pop-up--card {
  background: #aa22a357;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1 00px;
  position: relative;
}
.balao-img-top,
.balao-img-botton {
  height: 8rem;
  position: absolute;
  top: -6.5rem;
}
.balao-img-top {
  left: 0;
}

.balao-img-botton {
  right: 0px;
}
.pop-up--title {
  display: flex;
  justify-content: center;
  align-items: center;

  & h2 {
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: monospace, "Courier New", Courier;
    color: var(--text-color-padrao);
    text-shadow: 3px 3px 0 black, -3px 3px 0 black, 3px -3px 0 black,
      -3px -3px 0 black;
  }
}
.pop-up--text {
  text-align: center;
  font-size: 1.2rem;
}
.pop-up--button {
  text-align: center;
  margin-bottom: 1rem;
  & a {
    text-decoration: none;
    padding: 6px 1.2rem;
    background: var(--text-color-green);
    border-radius: 10px;
    font-weight: bold;
    box-shadow: var(--box-shadow-button);
  }
}

@media (max-width: 900px) {
  .roleta .roleta-image {
    display: block;
    max-height: 17rem;
  }
  .roleta-img-button {
    height: 3.5rem;
  }
}
@media (max-height: 760px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .logo-img {
    height: 2rem;
  }
  .text {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

@media (max-width: 450px) {
  .logo {
    margin-top: 1.5rem;
  }

  .text {
    font-size: 1.3rem;
  }

  .logo-img {
    height: 2.5rem;
  }

  .roleta .roleta-image {
    display: block;
    max-height: 17rem;
  }
  .roleta-img-button {
    height: 3.5rem;
  }
}
